<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="../static/bootstrap/css/bootstrap-responsive.min.css" href="" />
    <title>Calculadora Uli</title>
  </head>
  <body>
 <div class="navbar navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand">IDSG 801</a>
                <ul class="nav">
                    <li class="active">
                        <a href="">
                            <i class="icon-home icon-white">
                                        Inicio
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="icon-home icon-white">
                                        Matematicas God
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="icon-home icon-white">
                                        Calculadora
                            </i>
                        </a>
                    </li>
            </div>
        </div>
    </div>


    <div class="container">
        {%block container%}

        {%endblock%}
    </div>
  </body>
</html>
